<html xmlns:th="http://www.w3.org/1999/xhtml">
  <head th:replace="common/header :: common-header" />
  <body>
    <form
      id="form"
      th:action="@{/signup}"
      method="post"
      style="font-family: Quicksand, sans-serif;background-color: rgba(44,40,52,0.73);width: 320px;padding: 40px;"
    >
      <h1 id="head" style="color:rgb(193,166,83);">Sign-up form</h1>
      <div class="form-group">
        <span class="bg-success" th:if="${param.success}">User created successfully!!</span>
        <input
          class="form-control"
          name="firstName"
          th:value="${user.firstName}"
          type="text"
          id="firstName"
          placeholder="First Name"
        />
      </div>

      <div class="form-group">
        <input
          class="form-control"
          name="lastName"
          th:value="${user.lastName}"
          type="text"
          id="lastName"
          placeholder="Last Name"
        />
      </div>

      <div class="form-group">
        <input
          class="form-control"
          name="phone"
          th:value="${user.phone}"
          type="text"
          id="phone"
          placeholder="Phone Number"
        />
      </div>

      <div class="form-group">
        <span class="bg-danger" th:if="${emailExists}">Email Already exists</span>
        <input
          class="form-control"
          name="email"
          th:value="${user.email}"
          type="email"
          id="email"
          placeholder="Email"
          required="required"
        />
      </div>

      <div class="form-group">
        <span class="bg-danger" th:if="${userNameExists}">User Name Already exists</span>
        <input
          class="form-control"
          name="username"
          th:value="${user.username}"
          type="text"
          id="username"
          placeholder="User name"
          required="required"
        />
      </div>

      <div class="form-group">
        <input
          class="form-control"
          name="password"
          th:value="${user.password}"
          type="password"
          id="password"
          placeholder="password"
          required="required"
        />
      </div>
      
      <button
        class="btn btn-light"
        id="butonas"
        style="width:100%;margin-bottom:10px;background-color:rgb(106,176,209);"
        type="submit"
      >
        Sign-in</button
      ><a
        id="linkas"
        style="font-size:12px;margin:auto;margin-left:0;margin-right:0;margin-bottom:0;margin-top:0;padding-left:0;padding-right:0;color:rgb(177,151,70);"
        th:href="@{/sign-in}"
        >Sign-in using new account
        </a>
    </form>
    <div th:replace="common/header :: page-bottom-scripts"/>
  </body>
</html>
